* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* 深浅色模式*/
:root {
    /*默认深色*/
    --card-bgcolor:#252525;
    --card-color:rgb(234, 234, 234);
    --shadow-color:rgba(0,0,0,1);
    --background: rgb(20,20,20);
    --link-color:rgb(131, 216, 255);
    --link-hover-color:rgb(0, 166, 255);
}
/* 浅色模式 */
[data-theme="light"] {
    --card-bgcolor:#ececec;
    --card-color:black;
    --shadow-color:rgba(0,0,0,0.15);
    --background: rgb(248, 248, 248);
    --link-color:rgb(0, 72, 131);
    --link-hover-color:#00a6ff;
}

a {
    color:var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: var(--link-hover-color);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: var(--background);
}

#body-block {
    line-height: 1.6;
    color: #333333;
    width: 100%;
    height: auto;
    display: none;
}

/* 导航栏 */
.navbar {
    background: rgba(28, 28, 28, 0.67);
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(7px);
    transition: background-color 0.3s;
}
.navbar:hover {
    background-color: rgba(28,28,28,0.8);
    transition: background-color 0.3s;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-links a {
    color: #e4e4e4;
    text-decoration: none;
    padding: 0 1.5rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00a6ff;
}

/* 欢迎部分 */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1));
    background-image:url("resource/imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    transition: all 0.3s ease-in-out;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to left,rgb(255, 136, 0),rgb(179, 255, 0),rgb(0, 204, 255));
    background-clip: text;
    color: transparent;
}

/* 内容区块 */
.section {
    padding: 5rem 2rem;
    color: var(--card-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: content-float 0.3s ease-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* 卡片 */
.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.items-card {
    background: var(--card-bgcolor);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s;
}

.items-card:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
    transform: translateY(-5px);
}

.card-image {
    width: 80%;
    height: auto;
    margin-top: 1rem;
}
/*切换按钮*/
#theme-toggle {
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.1rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
#theme-toggle:hover {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 0.35rem;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .nav-links {
        justify-content: center;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
}

/* 加载动画 */
#loading-spinner-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 9rem;
    animation: spin 1.3s linear infinite;
}
.ball {
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
    filter: blur(7px);
}

@keyframes spin {
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes fade {
    100% { transform: scale(20);opacity: 0;}
}
@keyframes content-float {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}